<!DOCTYPE html>
<html>

<head>
<title>Game Library</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <a href="/" class="backbutton">
        <img src="{{ url_for('static', filename='icons/back.png') }}" class="back-icon">
    </a>
<h1>My Game Library</h1>
<center>
    <a href="/add" class="addbutton">
        <img src="{{ url_for('static', filename='icons/add.png') }}" class="add-icon">
    </a>

</center>

<div class="game-grid">

{% for game in games %}
    <div class="game-card">
    <a href="/game/{{ game['id'] }}" class="game-link">
        <div class="image-container">
        {% if game['image_filename'] %}
            <img src="{{ game['image_filename'] }}">
        {% endif %}
        </div>

        <div class="game-title">
            {{ game['title'] }}
        </div>
        
        <div class="game-info">
            {% if game['rating'] %}
                Your Rating: {{ game['rating'] }}
            {% endif %}
        </div>

        <div class="game-info">
            Status: {{ game['status'] }}
        </div>

        <div class="game-info">
            {% if game['completionTime'] %}
                ⏱ {{ game['completionTime'] }} hours
            {% endif %}
        </div>
    </a>
        <div class="card-buttons">
            <a href="/edit/{{ game['id'] }}" class="editbutton">
                <img src="{{ url_for('static', filename='icons/edit.png') }}" class="edit-icon">
            </a>
            <a href="/delete/{{ game['id'] }}" class="deletebutton">
                <img src="{{ url_for('static', filename='icons/delete.png') }}" class="delete-icon">
            </a>
        </div>

    </div>
{% endfor %}
</div>

</body>

</html>
