<!DOCTYPE html>
<html>

<head>
<title>{{ game['title'] }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <a href="/games" class="backbutton">
       <img src="{{ url_for('static', filename='icons/back.png') }}" class="back-icon"> 
    </a>

<h1>{{ game['title'] }}</h1>

<div class="game-detail-container">
<img src="{{ game['image_filename'] }}" class="detail-cover">
<div class="game-detail-info">

<p><b>Your Rating:</b> 
    {% if game['rating']%}
        {{game['rating']}}
    {% else %}
        {{"No ratings yet"}}
    {% endif %}
</p>

<p><b>Audience Rating:</b> 
    {% if game['audienceRating']%}
        {{ game['audienceRating'] }}
    {% else %}
        {{"No ratings yet"}}
    {% endif %}
</p>

<p><b>Status:</b> {{ game['status'] }}</p>

<p><b>Completion Time:</b> 
    {% if game['completionTime'] %}
        ⏱ {{ game['completionTime'] }} hours
    {% else %}
        {{0}}
    {% endif %} 
</p>

<p><b>Release Date:</b> {{ game['releaseDate'] }}</p>

<h3>Review</h3>

<p>
    {% if game['review'] %}
        {{ game['review'] }}
    {%else%}
        {{"No review yet"}}
    {%endif%}
</p>

<div class="editbutton">
<a href="/edit/{{ game['id'] }}">
    <img src="{{ url_for('static', filename='icons/edit.png') }}" class="edit-icon">
</a>
</div>

</div>

</div>

</body>
</html>
