body{
    font-family: Arial, sans-serif;
    background:#121212;
    color:white;
    margin:0;
    padding:20px;
    padding-top:20px;
}

h1{
    text-align:center;
}

.game-grid{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
    gap:25px;
    margin-top:30px;
}

.game-card{
    background:#1e1e1e;
    padding:5%;
    border-radius:10px;
    text-align:center;
    transition:transform 0.2s;
    overflow:hidden;
    display:flex;
    flex-direction:column;
}

.game-card:hover{
    transform: translateY(-6px);
}

.game-card img{
    width:100%;
    aspect-ratio:5/3;
    object-fit:cover;
    overflow:visible;
    border-radius:10px;
}

.image-container{
    border-radius:10px;
    overflow:hidden;
}

.game-title{
    font-size:18px;
    margin-top:10px;
    font-weight:bold;
}

.game-info{
    font-size:14px;
    color:#bbb;
}

.card-buttons{
    display:flex;
    gap:10px;   
    margin-top:auto;
    justify-content:center;
    opacity:0;
    transition:0.3s;
    text-decoration:none;

}
.game-card:hover .card-buttons{
    opacity:1;
}

.form-container{
    width:400px;
    margin:40px auto;
    background:#1e1e1e;
    padding:25px;
    border-radius:10px;
}

.addForm{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.addForm input,
.addForm textarea,
.addForm select{
    padding:10px;
    border:none;
    border-radius:6px;
    background:#2a2a2a;
    color:white;
}

.addForm textarea{
    resize:vertical;
    min-height:100px;
}

.addForm button{
    background:none;
    border:none;
    padding:none;
    color:white;
    cursor:pointer;
    font-size:14px;
    display:flex;
    align-items:center;
    justify-content:center; 
}

.back-icon{ 
    filter: invert(1);
    transition:0.3s;
}
.backbutton{
    position:fixed;
    top:20px;
    left:20px;
    z-index:1000; /* ensures it's above everything */
}
.backbutton:hover .back-icon{
    transform:translateX(-6px);
    filter: invert(23%) sepia(96%) saturate(7490%) hue-rotate(355deg);
}

.add-icon{ 
    filter: invert(1);
    transition:0.3s;
}
.addbutton{
    display:inline-flex;
    align-items:center;
    gap:8px;
    margin-top:10px;
}
.addbutton:hover .add-icon{
    transform:translateY(6px);
    filter: invert(62%) sepia(40%) saturate(7490%) hue-rotate(100deg);
}

.edit-icon{ 
    filter: invert(1);
    transition:0.3s;
    height:20px;
    width:20px;
}
.editbutton{
    display:inline-flex;
    align-items:center;
    gap:8px;
    margin-top:10px;
}
.editbutton:hover .edit-icon{
    filter: invert(90%) sepia(40%) saturate(7490%) hue-rotate(350deg);
}

.delete-icon{ 
    filter: invert(1);
    transition:0.3s;
    height:20px;
    width:20px;
}
.deletebutton{
    display:inline-flex;
    align-items:center;
    gap:8px;
    margin-top:10px;
}
.deletebutton:hover .delete-icon{
    filter: invert(20%) sepia(80%) saturate(5000%) hue-rotate(10deg);
}

.game-detail-container{
    display:flex;
    flex-direction:column;
    align-items:left;
    gap:40px;
    max-width:900px;
    margin:40px auto;
}

.detail-cover{
    height:100%;
    width:100%;
    border-radius:10px;
    text-align:center;
}

.game-detail-info{
    flex:1;
    margin-top:10px;
}

.game-detail-info p{
    font-size:16px;
    margin-top:8px 0;
    text-align:left;
}
.game-link{
    text-decoration:none;
    color:inherit;
}

.updatebutton{
    align-items:center;
    gap:8px;
    margin-top:10px;
    transition:0.3s;
    border-radius:10px;
}

.update-icon{
    filter: invert(1);
    transition:0.3s;
}

.updatebutton:hover{
    background-color:#3C3C3C;
}

.updatebutton:hover .update-icon{
    transform:translateY(3px);
    filter: invert(62%) sepia(40%) saturate(7490%) hue-rotate(100deg);
}
