<!DOCTYPE html>
<html>
<head>
<title>Add Game</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <a href="/" class="backbutton">
         <img src="{{ url_for('static', filename='icons/back.png') }}" class="back-icon">
     </a>

<h1>Add New Game</h1>

<div class="form-container">

<form method="POST" class="addForm">

<label>Name of the Game</label>
<input type="text" name="title" placeholder="Game Title" required>

<label>Rating</label>
<input type="number" name="rating" min="1" max="10" placeholder="Rating">

<label>Review</label>
<textarea name="review" placeholder="Write review"></textarea>

<label>Game Status</label>
<select name="status">
<option value="Playing">Playing</option>
<option value="Completed">Completed</option>
<option value="Backlog">Backlog</option>
</select>

<label>Completion Time (hours)</label>
<input type="number" name="completionTime" min="1" placeholder="Time">

<button type="submit" class="updatebutton">
    <img src="{{ url_for('static', filename='icons/save.png') }}" class="update-icon">
</button>
</form>
</div>

</body>
</html>
