<!DOCTYPE html>
<html>
<head>
<title>Edit Game</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <a href="/" class="backbutton">
        <img src="{{ url_for('static', filename='icons/back.png') }}" class="back-icon">
    </a>

<h1>Edit Game</h1>

<div class="form-container">

<form method="POST" class="addForm">

<label>Name of the Game</label>
<input type="text" name="title" value="{{ game['title'] }}" required>

<label>Rating</label>
<input type="number" name="rating" min="1" max="10"
value="{{ game['rating'] }}">

<label>Review</label>
<textarea name="review">{{ game['review'] }}</textarea>

<label>Game Status</label>
<select name="status">

<option value="Playing"
{% if game['status'] == "Playing" %}selected{% endif %}>
Playing
</option>

<option value="Completed"
{% if game['status'] == "Completed" %}selected{% endif %}>
Completed
</option>

<option value="Backlog"
{% if game['status'] == "Backlog" %}selected{% endif %}>
Backlog
</option>

</select>

<label>Completion Time (hours)</label>
<input type="number" name="completionTime" min="1"
value="{{ game['completionTime'] }}">

<button type="submit" class="updatebutton">
    <img src="{{ url_for('static', filename='icons/save.png') }}" class="update-icon">
</button>

</form>
</div>

</body>
</html>
